{% extends 'layout.html' %}
{% block content %}


<!-- start preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- end preloader -->

<!-- Navigation -->
<div ID="navoffset" class="secpage shadow-off bgwhite">

    <div class="navigation navbg" style="margin-top:20px;">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="images/spacer.png" class="mt5 relative z100 dark" alt=""/>
                </a>
            </div>

            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid relative">

                    <button type="button" class="btn left hide-show-button none">
                        <span class="burgerbar"></span>
                        <span class="burgerbar"></span>
                        <span class="burgerbar"></span>
                    </button>
                    <a href="#" class="closemenu"></a>

                    <!-- mobile version drop menu -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle hamburger" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- menu -->
                    <div class="mainmenu mobanim dark-menu navbar-collapse white collapse offset-0 ">
                        <ul class="nav navbar-nav mobpad">
                            <li><a href="/">Home</a>
                            </li>
                            <li><a href="/courses">Courses Offered</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
<!-- End of Navigation -->

<div class="bgxlight bordertopbottom">
    <div class="container ptb40 cdark">
        <h3 class="text-center titlefont size30 c999">Contact</h3>
    </div>
</div>

<!-- SECTION -->
<section class="bgwhite  borderbottom relative z10 clearfix">
    <div class="row sspacing">
        <div class="col-xs-12 col-sm-12 col-md-6 offset-0 h600">
            <div id="googleMap"></div>
        </div>
        <div class="container cus-pos-abs">
            <div class="clearfix"></div>
            <div class="cover-right-text col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-6 sspacing size18">


                <strong class="fontproximabold cdark caps">Eduwizz</strong>
                <div class="divider mtb20"></div>
                <h1 class="titlefont caps">
                    No. 3-5 Trimurti Enclave,
                    Malad - West, Mumbai
                </h1>

                <div class="divider mtb20"></div>
                <strong class="fontproximabold cdark">Email</strong>
                <p>
                    <span class="ti-email mr10"></span>
                    <a href="mailto:hello@avision.com">hello@eduwizz.co</a>
                </p>
                <div class="divider mtb20"></div>
                <strong class="fontproximabold cdark">Call Us</strong>
                <p>
                    <span class="ti-mobile mr10"></span>
                    <span class="cdark">+919930877202</span>
                </p>
                <p>
                    <span class="ti-mobile mr10"></span>
                    <span class="cdark">+9128822809</span>
                </p>


            </div>
        </div>
    </div>
</section>
<!-- END OF SECTION -->

{% endblock%}

{%block scripts%}
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?key=AIzaSyB3a_EV-nG5yzWpkquNpEvRPo5nDNtJdNE"></script>
<script type="text/javascript" src="/js/googlemaps.js"></script>
{% endblock%}
