{% extends 'layout.html' %}
{% block content %}

<!-- start preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- end preloader -->

<!-- Navigation -->
<div class="navigation white">

    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="images/spacer.png" class="white mt5 relative z100" alt="" />
            </a>
        </div>

        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid relative">

                <button type="button" class="btn left hide-show-button none">
                    <span class="burgerbar"></span>
                    <span class="burgerbar"></span>
                    <span class="burgerbar"></span>
                </button>
                <a href="#" class="closemenu"></a>

                <!-- mobile version drop menu -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle hamburger" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- menu -->
                <div class="mainmenu mobanim dark-menu navbar-collapse white collapse offset-0 ">
                    <ul class="nav navbar-nav mobpad">
                        <li><a href="/courses">Courses Offered</a>
                        </li>
                        <li><a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- END Navigation -->

<!-- Main Slide -->
<div id="home" class="tp-banner-container relative">

    <div class="tp-banner">
        <ul>

            <!-- SLIDE 1  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="2000" data-thumb="images/bg/e1.jpg" data-delay="12000" data-saveperformance="on" data-title="Ken Burns Slide" data-color="white">
                <!-- MAIN IMAGE -->
                <img src="images/dummy.png" data-lazyload="images/bg/e2.jpg" data-bgposition="top center" data-bgpositionend="top center" alt="" data-kenburns="on" data-duration="500" data-ease="Power0.easeInOut" data-bgfit="100" data-bgfitend="100">

                <!-- Filter dark -->
                <div class="tp-caption customin customout" data-x="center" data-y="center" data-customin="opacity:0;" data-customout="opacity:1;" data-speed="600" data-start="0" data-easing="easeOut" style="z-index: 4; display:block; background:rgba(0,0,0,0.6); width:100%; height:100%;"></div>


                <!-- LAYER 1 -->
                <div class="prlx-on slow tp-caption fontproximaextrabold size80 ls-5 caps cwhite customin customout tp-resizeme" data-x="center" data-voffset="-65" data-y="center" data-hoffset="0" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="300" style="z-index: 10;">Eduwizz
                </div>

                <!-- LAYER 2 -->
                <div class="prlx-on slow tp-caption size30 fontproximalight clight randomrotate customout tp-resizeme" data-x="center" data-voffset="0" data-y="center" data-hoffset="0" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="100" style="z-index: 10;">Revolutionizing IGCSE Coaching in Mumbai
                </div>

                <!-- LAYER 3 -->
                <div class="prlx-on slow tp-caption fontproximalight size30 clight randomrotate customout tp-resizeme" data-x="center" data-voffset="35" data-y="center" data-hoffset="0" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="100" style="z-index: 10;">through well researched study material
                </div>
                <!-- LAYER 4 -->
                <div class="prlx-on slow tp-caption fontproximalight size30 clight randomrotate customout tp-resizeme" data-x="center" data-voffset="70" data-y="center" data-hoffset="0" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="100" style="z-index: 10;">and regular test series with expert coaching & assessment
                </div>

                <!-- SCROLL -->
                <div class="prlx-off tp-caption caption-white-bold-caps customin customout" data-x="center" data-voffset="-20" data-y="bottom" data-hoffset="0" data-customin="opacity:0;" data-customout="opacity:1;" data-speed="500" data-start="0" data-easing="easeOut" style="z-index: 10;">
                    <div class=" rs-slideloop" data-easing="Power3.easeInOut" data-speed="0.5" data-ys="-5" data-ye="5" data-xs="0" data-xe="0">
                        <span class="ti-mouse size30 cwhite"></span>
                    </div>
                </div>
            </li>

        </ul>
        <div class="tp-bannertimer none"></div>
    </div>
</div>
<!-- END Main Slide -->

<!-- Key Points -->
<div id="features" class="bgwhite  relative z100">
    <div class="container">
        <ul class="squares ">
            <li class="col-md-3 text-center">
                <a href="#">
                    <i class="icon-doc size40"></i>
                    <h4 class="uppercase">Expert Coaching</h4>
                    <p>Our coaching and training methods are specially designed by our panel of 15 IGCSE experts from various schools in Mumbai</p>
                </a>
            </li>
            <li class="col-md-3 text-center">
                <a href="#">
                    <i class="icon-params size40"></i>
                    <h4 class="uppercase">Focused Material</h4>
                    <p>All study material is arranged and presented topic and type wise to let students gain complete mastery of topic under study</p>
                </a>
            </li>
            <li class="col-md-3 text-center">
                <a href="#">
                    <i class="icon-article-alt size40"></i>
                    <h4 class="uppercase">Regular Tests</h4>
                    <p>Regular on-premise tests allow students to test their exam preparation and get a feel of an actual exam environment.</p>
                </a>
            </li>
            <li class="col-md-3 text-center">
                <a href="#">
                    <i class="icon-award size40"></i>
                    <h4 class="uppercase">Expert Assessment</h4>
                    <p>Our team of expert faculty assess all your test papers to give you personalised improvement feedback</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Key Points -->

<!-- Results -->
<div id="results" class="bgwhite mb50 mt50 relative z100">
    <div class="container">
        <div class="row">

            <h3 class="text-center caps pt30 pb30 titlefont">
                Our Whizz Kids
            </h3>
            <!-- CarouFredSel 3 -->
            <div class="list_carousel3 responsive">
                <ul id="foo3">
                    <li>
                        <img src="images/results/resized/viann.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Viann Vora</p>
                        <p class="size16">Hindi 96, ICT 87</p>
                        <p class="size12">Grade 7, Witty Kids</p>
                    </li>
                    <li>
                        <img src="images/results/resized/sidh.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Sidh Gala</p>
                        <p class="size16">Maths 96, Science 92</p>
                        <p class="size12">Grade 7, Witty Kids</p>

                    </li>
                    <li>
                        <img src="images/results/resized/fionn.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Fionn Savla</p>
                        <p class="size16">Maths 96</p>
                        <p class="size12">Grade 7, Witty Kids</p>

                    </li>
                    <li>
                        <img src="images/results/resized/parmi.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Parmi Kenia</p>
                        <p class="size16">French 92</p>
                        <p class="size12">Grade 7, Witty Kids</p>

                    </li>
                    <li>
                        <img src="images/results/resized/ria.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Ria Shah</p>
                        <p class="size16">English 87</p>
                        <p class="size12">Grade 7, Witty Kids</p>

                    </li>
                    <li>
                        <img src="images/results/resized/dhruv.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Dhruv Gogri</p>
                        <p class="size16">English 87</p>
                        <p class="size12">Grade 7, Witty Kids</p>

                    </li>
                    <li>
                        <img src="images/results/resized/devam.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Devam Sanghavi</p>
                        <p class="size16">Maths 60/60</p>
                        <p class="size12">Grade 8, St. Annes</p>

                    </li>
                    <li>
                        <img src="images/results/resized/hiranshee.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Hiranshee Sanghavi</p>
                        <p class="size16">Maths 78/80, Science 78/80</p>
                        <p class="size12">Grade 9, St. Annes</p>

                    </li>
                    <li>
                        <img src="images/results/resized/khushi.jpg" alt="" />
                        <p class="size16 mt20 cmaincolor">Khushi Mehta</p>
                        <p class="size16">English 95/100</p>
                        <p class="size12">Grade 7, D. G. Khetan</p>
                    </li>

                </ul>
                <div class="clearfix"></div>

                <div class="timer3 none"></div>
                <a id="prev3" href="" class="none">&#60;</a>
                <a id="next3" href="" class="none">&#62;</a>
                <div class="pager3"></div>
            </div>
            <!-- End of CarouFredSel 3 -->
        </div>
    </div>
</div>
<!-- END Results -->


<!-- Why Eduwizz -->
<div class="h50"></div>
<section ID="teamparallax-c" class="">
    <h2 class="none">Eduwizz</h2>
    <div class="prlx-team container"></div>
</section>
<div class="container bgwhite mb50">
    <div class="mt100" data-scroll-reveal="enter bottom over 0.5s and move 30px after 0s">
        <div class="col-md-3 hidden-xs">
            <p class="size40 mt-20 titlefont">Expert IGCSE Coaching</p>
        </div>
        <div class="col-md-1 col-sm-12">
        </div>
        <div class="col-md-8 col-sm-12">
            <h3 class="size40 titlefont">
                What's unique about the
                <br/>Eduwizz Approach?
            </h3>
            <p class="mt20">
                At Eduwizz, we work with students from all the different IGCSE schools in Mumbai. So we are very well placed to understand their problems and offer a holistic solution to making sure learning is fun and effective for students.
                <br/>
                <br/>Based on the years of experience gathered by our team of 15 IGCSE industry experts through coaching and student interaction, we think we have arrived at the ideal formulae for making students feel confident and well prepared for their curriculum and exams.
                <br/>
                <br/>Students often tell us of a 'content-overload' - there's far too much unstructured, scattered and general purpose study material available. To add to the problem the application based testing style of International Boards is difficult to adapt for the learners.
                <br/>
                <br/>All of this, together, leads to the learner just feeling confused instead of feeling well prepared for his/her exams. We have tried to address this problem by providing a one-stop solution at our center:
                <br/>
            <ul>
                <li>+ Explanation by Experts</li>
                <li>+ Structured Topic-wise Study Material</li>
                <li>+ Topic –wise Tests</li>
            </ul>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END Why Eduwizz -->

<!-- Schools -->
<div class="sspacing-title bgwhite mb50">
    <div class="container text-center">
        <h3 class="text-center caps titlefont pb10">Schools in Focus</h3>
        <h5 class="text-center caps titlefont pb20">We actively work with students from these schools</h5>

        <!-- CarouFredSel 4 -->
        <div class="list_carousel4 responsive">
            <ul id="foo4">
                <li>
                    <a href="http://www.khetanint.org/">
                        <img src="images/schools/dg.png" alt="" />
                        <p class="size16 cmaincolor"><a href="">D. G. Khetan School</a>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="http://www.wittykidsindia.com/">
                        <img src="images/schools/witty.png" alt="" />
                        <p class="size16 cmaincolor">Witty Internaltional School</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.oberoi-is.org/">
                        <img src="images/schools/oberoi.jpg" alt="" />
                        <p class="size16 cmaincolor"><a href="">Oberoi Internaltional School</a>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="http://marwadisammelan.org/shais/index.html">
                        <img src="images/schools/sha.jpg" alt="" />
                        <p class="size16 cmaincolor"><a href="">Savitri Agarwal School</a>
                        </p>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End of CarouFredSel 4 -->
    </div>
</div>
<!-- END School-->


{% endblock %}