<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Eduwizz</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?v2" />
    <link href="/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="/font/fontello/css/fontello.css" rel="stylesheet" type="text/css" />
    <link href="/font/fontello/css/animation.css" rel="stylesheet" type="text/css" />
    <!--if IE 7
    link(rel='stylesheet', href='font/fontello/css/fontello-ie7.css')
    -->
    <link href="http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css' />
    <link href="/font/dripicons/webfont.css" rel="stylesheet" type="text/css" />
    <link href="/font/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="/font/themify-icons/themify-icons.css" rel="stylesheet" type="text/css" />
    <link href="/font/fontastic/styles.css" rel="stylesheet" type="text/css" />
    <link href="/css/extralayers.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/rs-plugin/css/settings.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/caroufredsel.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" />
    <link href="/css/HoverEffectIdeas/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/css/HoverEffectIdeas/css/set1.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/lightcase/css/lightcase.css" rel="stylesheet" type="text/css" />
</head>

<body class="lightbg">

{% block content %}{% endblock %}


<!-- FOOTER -->
<div class="footer">
    <div class="container ptb50 cwhite">
        <div class="row">
            <div class="col-md-3">
                <p>
                    <a href="#">
                        <img src="images/avision-footer.png" class="w90" alt="avision logo" />
                    </a>
                </p>
                <br/>
                <br/>
                <p>Revolutionising IGCSE coaching in Mumbai through highlu effective study material and expert assessment</p>
            </div>
            <div class="col-md-3">
                <p>
                    No. 3-5 Trimurti Enclave, Malad - West, Mumbai
                </p>
                <p>
                    <span class="ti-email mr10"></span>
                    <a href="mailto:hello@avision.com">hello@eduwizz.co</a>
                </p>
                <p>
                    <span class="ti-mobile mr10"></span>
                    <span class="clight">+919930877202</span>
                </p>
                <p>
                    <span class="ti-mobile mr10"></span>
                    <span class="clight">+9128822809</span>
                </p>

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h5 class="uppercase bold pb20 cwhite titlefont">Courses Offered</h5>
                <ul>
                    <li><a href="#">Cambridge Primary Check Point Prep : Stage 6</a>
                    </li>
                    <li><a href="#">Cambridge Secondary 1: Stage 7</a>
                    </li>
                    <li><a href="#">Cambridge Secondary 1: Stage 8</a>
                    </li>
                    <li><a href="#">Cambridge Secondary Check Point Prep : Stage 9</a>
                    </li>
                    <li><a href="#">IGCSE 1</a>
                    </li>
                    <li><a href="#">IGCSE 2</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


</div>
<!-- End of Footer -->
<p id="back-top"><a href="#top"><span class="ti-angle-up"></span></a>
</p>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/compressed.js"></script>
<script type="text/javascript" src="/js/animations.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>


{% block scripts %}{% endblock %}


</body>

</html>